In [16]:
import streamlit as st
import numpy as np
import pandas as pd
import plotly as plt
import sklearn as sk

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [6]:

path = "https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/Startup.csv"
df = pd.read_csv(path)
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [8]:
headers=df.columns.to_list()

['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [12]:

a=[1,2]
a.remove(2)
print(a)

[1]

In [18]:
from numpy import dtype


df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
Profit             float64
dtype: object